// GENERAL SETTINGS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// END OF GENERAL SETTINGS

body{
    // height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #000;
}


header{
    background: url('/images/zjgs096khv591.webp') no-repeat center center/cover;
    color: $secondaryColor;
    height: 93dvh;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.6);
        z-index: 1;
        box-shadow: inset 120px 100px 250px #000000;
    }

    nav{
        @include container();

        #navimg{
            text-align: center;
            position: relative;
            z-index: 2;

            

            img{
                padding-top: 10px;
            }

            .btn1{
                @include btn();
                margin-top: 10px;
                position: absolute;
                right: 0px;
            }
        }
    }


    #main{
        @include dflex(column,center,center);
        // @include container();
        // background-color: blue;
        min-height: 80%;
    
        #mainshowcase{
            @include dflex(column,center,center);
            z-index: 2;
    
            h1{
                margin-bottom: 10px;
                font-size: 5.2rem;
                line-height: 1.1;
                margin: 0 0 2rem;
            }
    
            p{
                text-transform: uppercase;
                margin-bottom: 10px;
                color: $secondaryColor;
                font-weight: 400;
                font-size: 1.9rem;
                line-height: 1.2;
                margin: 0 0 2rem;
            }
    
            a{ 
                font-size: 1.5rem;
                text-decoration: none;
                color: $secondaryColor;
                text-align: center;
                background-color: $primaryColor;
                padding: 0.8rem 1.3rem;
                border: none;
                border-radius: 5px;

                &:hover{
                    background-color: rgba($color: $primaryColor, $alpha: 0.69);
                }
            }
        }
    }
}
// DONE WITH HEADER

// FIRST SECTION & CARDS
.first{
    background: lighten($color: $tertiaryColor, $amount: 8%);
    border-bottom: 4px solid gray;

    .selection{
        @include container2();
        @include dflex(row,space-between,center);
        color: gray;
        // border-bottom: 4px solid $primaryColor;

        .cancel{
            border-bottom: 4px solid $primaryColor;
        }
        
        .card {
            @include dflex(column,center,center);
            // height: 100%;
            width: 40%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            
            &:hover{
                color: $secondaryColor;
                cursor: pointer;
            }

            i{
                margin-bottom: 5px;

            }
        }
    }
}

#tab-1-content,
#tab-2-content,
#tab-3-content{
    display: none;
}

.show{
    display: block !important;
}


.second{
    .selection{
        @include container2();
        // background: lighten($color: $tertiaryColor, $amount: 8%);
        padding-top: 30px;
        padding-bottom: 30px;
        color: $secondaryColor;

        .tab-1-content-inner{
            @include dflex(row,space-around,center);
            color: $secondaryColor;
        }

        a{ 
            font-size: 1rem;
            text-decoration: none;
            color: $secondaryColor;
            text-align: center;
            background-color: $primaryColor;
            padding: 1rem 1.3rem;
            border: none;
            border-radius: 5px;

            &:hover{
                background-color: rgba($color: $primaryColor, $alpha: 0.69);
            }
        }
    }
}


.third{
    color: $secondaryColor;
    @include container2();

    #tab-2-content-top{
        @include dflex(row,space-between,center);
        padding-top: 30px;
        padding-bottom: 50px;
    
        p{
            flex: 5;
            font-size: 1.5rem;
        }
    a{
        flex: 2;
        font-size: 0.9rem;
        background:$primaryColor; 
        text-decoration: none;
        color: $secondaryColor;
        border: none;
        text-align: center;
        border-radius: 5px;
        padding: 1rem 0rem;

        &:hover{
            background-color: rgba($color: $primaryColor, $alpha: 0.69);
        }
    }}

    #tab-2-content-bottom{
        @include dflex(row,start,center);
        padding-bottom: 50px;

        img{
            padding-bottom: 0.8rem;
        }

        .screen1{
            @include dflex(column,center,center);
            text-align: center;

            p{
                padding-bottom: 1.2rem;
            }
        }

    }
}


.fourth{
    .selection{
        @include container2;
        color: $secondaryColor;
        padding-top: 30px;
        padding-bottom: 50px;

        a{ 
            font-size: 1.2rem;
            text-decoration: none;
            color: $secondaryColor;
            text-align: center;
            background-color: $primaryColor;
            padding: 0.8rem 1.3rem;
            border: none;
            border-radius: 5px;

            &:hover{
                background-color: rgba($color: $primaryColor, $alpha: 0.69);
            }
        }

        .table{
            @include dflex(column,center,center);
            margin-top: 60px;

            table{
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                th{
                    text-transform: uppercase;
                    padding: 0.8rem;
                }
                tbody{
                    tr,td{
                        color: #999;
                        padding: 0.8rem 1.2rem;
                        text-align: center;
    
                        &:first-child{
                            text-align: left;
                        }

                    }

                    tr{
                        &:nth-child(odd){
                            background: #222;
                        }
                    }
                }
            }
        }
    }
}

footer{
    .selectionf{
        @include container3;
        color: #999;
        padding-top: 30px;
        padding-bottom: 20px;

        p{
            margin-bottom: 30px;
        }

        .link{
            @include dflex(row,space-between,start);

            ul{
                list-style-type: none;

            }

            li,a{
                color: #999;
                text-decoration: none;
                padding-bottom: 10px;
            }
        }
    }
}

/* Text Styles */
.text-xl {
	font-size: 2rem;
}

.text-lg {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

.text-md {
	// margin-bottom: 1.5rem;
	font-size: 1.1rem;
}

.text-center {
	text-align: center;
}

.text-dark {
	color: #999;
}


@media (max-width:760px) {
    header{
        height: 70dvh;

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.6);
            z-index: 1;
            box-shadow: inset 80px 80px 250px #000000;
        }

        #navimg{
            @include dflex(row,space-between,center);
        }
    }

    .hide-sm{
        display: none;
    }

    #mainshowcase{
        
        h1{
            font-size: 1.8rem;
            line-height: 1;
            text-align: center;
        }

        p{
            font-size: 1rem;
            text-align: center;
        }

        a{
            font-size: 1.5rem;
            padding: 1.4rem 2rem;
        }
    }

    .second{
        .selection{
            @include container2();
            // background: lighten($color: $tertiaryColor, $amount: 8%);
            padding-top: 30px;
            padding-bottom: 30px;
            color: $secondaryColor;
    
            .tab-1-content-inner{
                @include dflex(column,center,center);
                color: $secondaryColor;
            }

            img{
                margin-top: 20px;
                width: 100%;
            }

            p{
                text-align: center;
            }
    
            a{ 
                font-size: 1rem;
                text-decoration: none;
                color: $secondaryColor;
                text-align: center;
                background-color: $primaryColor;
                padding: 1rem 1.3rem;
                border: none;
                border-radius: 5px;
    
                &:hover{
                    background-color: rgba($color: $primaryColor, $alpha: 0.69);
                }
            }
        }
    }

    .third{
        color: $secondaryColor;
        @include container2();
    
        #tab-2-content-top{
            @include dflex(column,center,center);
            padding-top: 30px;
            padding-bottom: 50px;
            text-align: center;
        
            p{
                // flex: 5;
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
        a{
            // flex: 2;
            font-size: 0.9rem;
            background:$primaryColor; 
            text-decoration: none;
            color: $secondaryColor;
            border: none;
            text-align: center;
            border-radius: 5px;
            padding: 1rem 0rem;
    
            &:hover{
                background-color: rgba($color: $primaryColor, $alpha: 0.69);
            }
        }}
    
        #tab-2-content-bottom{
            @include dflex(column,start,center);
            padding-bottom: 50px;
    
            img{
                padding-bottom: 0.8rem;
            }
    
            .screen1{
                @include dflex(column,center,center);
                text-align: center;
    
                p{
                    padding-bottom: 1.2rem;
                }
            }
    
        }
    }

    footer{
        .selectionf{
            @include container3;
            color: #999;
            padding-top: 30px;
            padding-bottom: 20px;
    
            p{
                margin-bottom: 30px;
                text-align: center
            }
    
            .link{
                @include dflex(column,center,center);
                text-align: center;
    
                ul{
                    list-style-type: none;
    
                }
    
                li,a{
                    color: #999;
                    text-decoration: none;
                    padding-bottom: 10px;
                }
            }
        }
    }


.text-xl{
    font-size: 1.5rem;
}
.text-lg{
    font-size: 1.3rem;
}
.text-xl{
    font-size: 1rem;
}

}