* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: #000;
}

header {
  background: url("/images/zjgs096khv591.webp") no-repeat center center/cover;
  color: #f4f4f4;
  height: 93dvh;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  box-shadow: inset 120px 100px 250px #000000;
}
header nav {
  padding: 0px 30px;
  margin: 0px auto;
}
header nav #navimg {
  text-align: center;
  position: relative;
  z-index: 2;
}
header nav #navimg img {
  padding-top: 10px;
}
header nav #navimg .btn1 {
  background-color: #e50914;
  color: #f4f4f4;
  width: 80px;
  height: 35px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 3px 5px black;
  margin-top: 10px;
  position: absolute;
  right: 0px;
}
header nav #navimg .btn1:hover {
  background-color: rgba(229, 9, 20, 0.69);
}
header #main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80%;
}
header #main #mainshowcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
header #main #mainshowcase h1 {
  margin-bottom: 10px;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}
header #main #mainshowcase p {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #f4f4f4;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.2;
  margin: 0 0 2rem;
}
header #main #mainshowcase a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #f4f4f4;
  text-align: center;
  background-color: #e50914;
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: 5px;
}
header #main #mainshowcase a:hover {
  background-color: rgba(229, 9, 20, 0.69);
}

.first {
  background: #141414;
  border-bottom: 4px solid gray;
}
.first .selection {
  width: 70%;
  padding: 0px 30px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.first .selection .cancel {
  border-bottom: 4px solid #e50914;
}
.first .selection .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.first .selection .card:hover {
  color: #f4f4f4;
  cursor: pointer;
}
.first .selection .card i {
  margin-bottom: 5px;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

.second .selection {
  width: 70%;
  padding: 0px 30px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f4f4f4;
}
.second .selection .tab-1-content-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #f4f4f4;
}
.second .selection a {
  font-size: 1rem;
  text-decoration: none;
  color: #f4f4f4;
  text-align: center;
  background-color: #e50914;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 5px;
}
.second .selection a:hover {
  background-color: rgba(229, 9, 20, 0.69);
}

.third {
  color: #f4f4f4;
  width: 70%;
  padding: 0px 30px;
  margin: 0px auto;
}
.third #tab-2-content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.third #tab-2-content-top p {
  flex: 5;
  font-size: 1.5rem;
}
.third #tab-2-content-top a {
  flex: 2;
  font-size: 0.9rem;
  background: #e50914;
  text-decoration: none;
  color: #f4f4f4;
  border: none;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 0rem;
}
.third #tab-2-content-top a:hover {
  background-color: rgba(229, 9, 20, 0.69);
}
.third #tab-2-content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 50px;
}
.third #tab-2-content-bottom img {
  padding-bottom: 0.8rem;
}
.third #tab-2-content-bottom .screen1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.third #tab-2-content-bottom .screen1 p {
  padding-bottom: 1.2rem;
}

.fourth .selection {
  width: 70%;
  padding: 0px 30px;
  margin: 0px auto;
  color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 50px;
}
.fourth .selection a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #f4f4f4;
  text-align: center;
  background-color: #e50914;
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: 5px;
}
.fourth .selection a:hover {
  background-color: rgba(229, 9, 20, 0.69);
}
.fourth .selection .table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.fourth .selection .table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.fourth .selection .table table th {
  text-transform: uppercase;
  padding: 0.8rem;
}
.fourth .selection .table table tbody tr, .fourth .selection .table table tbody td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}
.fourth .selection .table table tbody tr:first-child, .fourth .selection .table table tbody td:first-child {
  text-align: left;
}
.fourth .selection .table table tbody tr:nth-child(odd) {
  background: #222;
}

footer .selectionf {
  width: 75%;
  padding: 0px 30px;
  margin: 0px auto;
  color: #999;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .selectionf p {
  margin-bottom: 30px;
}
footer .selectionf .link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
footer .selectionf .link ul {
  list-style-type: none;
}
footer .selectionf .link li, footer .selectionf .link a {
  color: #999;
  text-decoration: none;
  padding-bottom: 10px;
}

/* Text Styles */
.text-xl {
  font-size: 2rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.text-md {
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #999;
}

@media (max-width: 760px) {
  header {
    height: 70dvh;
  }
  header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    box-shadow: inset 80px 80px 250px #000000;
  }
  header #navimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hide-sm {
    display: none;
  }
  #mainshowcase h1 {
    font-size: 1.8rem;
    line-height: 1;
    text-align: center;
  }
  #mainshowcase p {
    font-size: 1rem;
    text-align: center;
  }
  #mainshowcase a {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }
  .second .selection {
    width: 70%;
    padding: 0px 30px;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f4f4f4;
  }
  .second .selection .tab-1-content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
  }
  .second .selection img {
    margin-top: 20px;
    width: 100%;
  }
  .second .selection p {
    text-align: center;
  }
  .second .selection a {
    font-size: 1rem;
    text-decoration: none;
    color: #f4f4f4;
    text-align: center;
    background-color: #e50914;
    padding: 1rem 1.3rem;
    border: none;
    border-radius: 5px;
  }
  .second .selection a:hover {
    background-color: rgba(229, 9, 20, 0.69);
  }
  .third {
    color: #f4f4f4;
    width: 70%;
    padding: 0px 30px;
    margin: 0px auto;
  }
  .third #tab-2-content-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .third #tab-2-content-top p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .third #tab-2-content-top a {
    font-size: 0.9rem;
    background: #e50914;
    text-decoration: none;
    color: #f4f4f4;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 1rem 0rem;
  }
  .third #tab-2-content-top a:hover {
    background-color: rgba(229, 9, 20, 0.69);
  }
  .third #tab-2-content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 50px;
  }
  .third #tab-2-content-bottom img {
    padding-bottom: 0.8rem;
  }
  .third #tab-2-content-bottom .screen1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .third #tab-2-content-bottom .screen1 p {
    padding-bottom: 1.2rem;
  }
  footer .selectionf {
    width: 75%;
    padding: 0px 30px;
    margin: 0px auto;
    color: #999;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  footer .selectionf p {
    margin-bottom: 30px;
    text-align: center;
  }
  footer .selectionf .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .selectionf .link ul {
    list-style-type: none;
  }
  footer .selectionf .link li, footer .selectionf .link a {
    color: #999;
    text-decoration: none;
    padding-bottom: 10px;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  .text-lg {
    font-size: 1.3rem;
  }
  .text-xl {
    font-size: 1rem;
  }
}/*# sourceMappingURL=import.css.map */